
Django==5.1.1
channels==4.0.0
daphne==4.0.0
django-cors-headers==4.0.0
beautifulsoup4==4.12.2
transformers==4.33.2
torch==2.0.1
typing-extensions==4.6.3
requests==2.31.0
tqdm==4.66.1
numpy==1.24.3
filelock==3.12.2
regex==2023.8.8
